{% extends "layout.html" %}
{% block title %}{{ block.super }} - {% trans "how-to"|capfirst %}{% endblock %}
{% block body %} 
<h1>{% trans "How to use this online library" %}</h1>
<h2 class="content-subhead">{% trans "General informations" %}</h2>
<p>
    {% blocktrans %}This library is divided in two parts: the real library on the one hand and the sharing system on the other hand. Both part do interact and you probably can not use one without the other one. The ownership system could seem a little bit tricky but once explained, you will find it naturally simple.{% endblocktrans %}
</p>
<h2 class="content-subhead">{% trans "The library" %}</h2>
<p>
	{% url "book_list" as book_list_url %}
    {% blocktrans %}<p>The library contains books. These books have a title<span class="required_symbol">*</span>, a published date, an author. You can also link the book with general themes or with periods of literature history. Each book can be possessed by many people and each people can have several copies of a same book. When you go onto <a href="{{ book_list_url }}">the book list</a>, you can see different options (depending on your permission level). You can edit a book or delete it.</p>{% endblocktrans %}
    <div class="messages">
        <div class="msg_warning">{% blocktrans %}When you delete a book, you also delete all the ownerships and the lendings linked to a book, so do it carefully ! If you want to <strong>remove it</strong> from your library without deleting the book in the database, you can use the <span class="pure-button pure-button-xsmall pure-button-warning">remove</span> button. If you have enough privileges, you will be then also allowed to remove it from others libraries.{% endblocktrans %}</div>
    </div>
    {% blocktrans %}<p>You can also <strong>add books</strong> to your own library: these books, that belongs to other libraries, have already been added to the database. You do not need to create them again, all you need is to <span class="pure-button pure-button-xsmall pure-button-success">add</span> it your library. You will then have the chance to specify how many copies you have. If you want, you can also add a specific editor, a specific cover or insert some comments. This way, the book is added to your own library and everyone now knows that you have one copy of it.</p>{% endblocktrans %}
</p>
<h2 class="content-subhead">{% trans "The sharing system" %}</h2>
<p>
    {% blocktrans %}<p>Sharing books is pretty simple. .</p>{% endblocktrans %}
</p>
{% endblock %}