{% extends "layout.html" %}
{% block body %} 
<h1>{% trans "discussion"|capfirst %} - {{ discussion.title }}</h1>
{% if perms.discussion.message_new %}
<p><a class="pure-button pure-button-success" href="{% url "message_new" discussion.id %}">{% trans "new"|capfirst %}</a></p>
{% endif %}
<div class="pure-g">
    {% for message in messages_discussion %}
        <div class="pure-u-1-5 discussion_message">
            <p>{% if message.author.profile.picture %}<img src="{{ message.author.profile.picture.url }}" class="picture" />{% else %}<img src="{% static 'img/unknown_person.jpg' %}" class="picture" />{% endif %}</p>
            <p>{% trans "written by: "|capfirst %}<strong>{{ message.author.username }}</strong></p>
            <p>{% trans "at: "|capfirst %}{{ message.added_date|naturalday:"DATE_FORMAT"|default:"?" }}</p>
            {% if message.updated_date != message.added_date %}
                <p>{% trans "last update: "|capfirst %}{{ message.updated_date|naturalday:"DATE_FORMAT"|default:"?" }}</p>
            {% endif %}
            {% if perms.discussion.message_edit or perms.discussion.message_moderate or perms.discussion.message_delete %}
            <p>
                {% if perms.discussion.message_moderate or perms.discussion.message_edit and message.author == request.user %}
                <a class="pure-button pure-button-secondary" href="{% url "message_edit" message.id %}">{% trans "edit"|capfirst %}</a>
                {% endif %}
                {% if perms.discussion.message_moderate or perms.discussion.message_delete and message.author == request.user %}
                <a class="pure-button pure-button-error" href="{% url "message_delete" message.id %}">{% trans "delete"|capfirst %}</a>
                {% endif %}
            </p>
            {% endif %}
        </div>
        <div class="pure-u-4-5 discussion_message">
            {{ message.message|safe }}
        </div>
        {% empty %}
        <div class="pure-u-1-1">{% trans "empty"|capfirst %}</div>
        {% endfor %}
</div>
{% include "common/pagination.html" %}
{% if perms.discussion.message_new %}
<p><a class="pure-button pure-button-success" href="{% url "message_new" discussion.id %}">{% trans "new"|capfirst %}</a></p>
{% endif %}
{% endblock %}