{% extends "layout.html" %}
{% block title %}{{ block.super }} - {% trans "discussion list"|capfirst %}{% endblock %}
{% block body %} 
<h1>{% trans "discussions"|capfirst %}</h1>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>
                <a href="?sort_by=lastname&order=asc" class="fa fa-sort-asc"></a> 
                {% trans "title"|capfirst %}
                <a href="?sort_by=lastname&order=desc" class="fa fa-sort-desc"></a>
            </th>
            <th>
                <a href="?sort_by=added_date&order=asc" class="fa fa-sort-asc"></a>
                {% trans "date added"|capfirst %}
                <a href="?sort_by=added_date&order=desc" class="fa fa-sort-desc"></a>
            </th>
            <th>
                <a href="?sort_by=updated_date&order=asc" class="fa fa-sort-asc"></a>
                {% trans "date updated"|capfirst %}
                <a href="?sort_by=updated_date&order=desc" class="fa fa-sort-desc"></a>
            </th>
            {% if perms.discussion.discussion_edit or perms.discussion.discussion_delete %}
            <th></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for discussion in discussions %}
        <tr>
        <td>
            {% if perms.discussion.discussion_detail %}<a class="black_link" href="{% url "discussion_detail" discussion.id %}">{% endif %}
            {{ discussion.title }}
            {% if perms.discussion.discussion_detail %}</a>{% endif %}
        </td>
        <td>{{ discussion.added_date|naturalday:"DATE_FORMAT"|default:"?" }}</td>
        <td>{{ discussion.updated_date|naturalday:"DATE_FORMAT"|default:"?" }}</td>
        {% if perms.discussion.discussion_edit or perms.discussion.discussion_moderate or perms.discussion.discussion_delete %}
        <td>
            {% if perms.discussion.discussion_detail %}
            <a class="pure-button pure-button-primary" href="{% url "discussion_detail" discussion.id %}">{% trans "detail"|capfirst %}</a>
            {% endif %}
            {% if perms.discussion.discussion_moderate or perms.discussion.discussion_edit and request.user == discussion.author %}
            <a class="pure-button pure-button-secondary" href="{% url "discussion_edit" discussion.id %}">{% trans "edit"|capfirst %}</a>
            {% endif %}
            {% if perms.discussion.discussion_moderate or perms.discussion.discussion_delete and request.user == discussion.author %}
            <a class="pure-button pure-button-error" href="{% url "discussion_delete" discussion.id %}">{% trans "delete"|capfirst %}</a>
            {% endif %}
        </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pagination.html" %}
{% if perms.discussion.discussion_new %}
<p><a class="pure-button pure-button-success" href="{% url "discussion_new" %}">{% trans "new"|capfirst %}</a></p>
{% endif %}
{% endblock %}