{% extends "layout.html" %}
{% block title %}{{ block.super }} - {% trans "borrower list"|capfirst %}{% endblock %}
{% block body %} 
<h1>{% trans "borrowers"|capfirst %}</h1>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>
                <a href="?sort_by=username&order=asc" class="fa fa-sort-asc"></a> 
                {% trans "borrower"|capfirst %}
                <a href="?sort_by=username&order=desc" class="fa fa-sort-desc"></a>
            </th>
            <th>
                {% trans "informations"|capfirst %}
            </th>
            <th>
                <a href="?sort_by=phone_number&order=asc" class="fa fa-sort-asc"></a> 
                {% trans "phone number"|capfirst %}
                <a href="?sort_by=phone_number&order=desc" class="fa fa-sort-desc"></a>
            </th>
        </tr>
    </thead>

    <tbody>
        {% for borrower in object_list %}
        <tr>
        <td><a href="{% url "profile_show" borrower.user.id %}">{{ borrower.user.username }}</a></td>
        <td>{{ borrower.informations|default:_("empty")|capfirst }}</td>
        <td>{{ borrower.phone_number|default:_("unknown")|capfirst }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pagination.html" %}
{% endblock %}