{% extends "layout.html" %}
{% block body %} 
<h1>{% trans "dashboard"|capfirst %}</h1>
<h3>{% trans "books"|capfirst %}</h3>
<ul>
{% for book in books %}
    <li>{{ book.title }} ({{ book.author|default:_("unknown")|capfirst }})
    {% if perms.library.book_edit or perms.library.book_delete %}
    <br />
        {% if perms.sharing.lending_new %}
        <a class="pure-button-xsmall pure-button" href="{% url "lend_book" book.id %}">{% trans "lend"|capfirst %}</a>
        {% endif %}
        {% if perms.library.book_edit %}
        <a class="pure-button pure-button-xsmall pure-button-secondary" href="{% url "book_edit" book.id %}">{% trans "edit"|capfirst %}</a>
        {% endif %}
        {% if perms.library.book_delete %}
        <a class="pure-button-xsmall pure-button pure-button-error" href="{% url "book_delete" book.id %}">{% trans "delete"|capfirst %}</a>
        {% endif %}
    {% endif %}
    </li>
{% empty %}
<p>{% trans "no book in this library !"|capfirst %}</p>
{% endfor %}
</ul>
{% if perms.library.book_new %}
<p><a class="pure-button pure-button-success" href="{% url "book_new" %}">{% trans "new"|capfirst %}</a></p>
{% endif %}


<div class="pure-g">
    <div class="pure-u-1-2">
        {% include "common/borrowings.html" %}
    </div>
    <div class="pure-u-1-2">
        {% include "common/lendings.html" %}
    </div>
</div>
{% endblock %}