{% extends "layout.html" %}
{% block body %} 
{% if request.resolver_match.url_name == 'lending_list' %}
<h1>{% trans "lendings ongoing"|capfirst %}</h1>
    <p><a class="pure-button" href="{% url "lending_list_all" %}">{% trans "all lendings"|capfirst %}</a></p>
{% else %}
<h1>{% trans "all lendings"|capfirst %}</h1>
    <p><a class="pure-button" href="{% url "lending_list" %}">{% trans "lendings ongoing"|capfirst %}</a></p>
{% endif %}
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>
            <a href="?sort_by=book__title&order=asc" class="fa fa-sort-asc"></a> 
                {% trans "book"|capfirst %}
<a href="?sort_by=book__title&order=desc" class="fa fa-sort-desc"></a>
            </th>
            <th>
<a href="?sort_by=borrower__username&order=asc" class="fa fa-sort-asc"></a> 
                {% trans "borrower"|capfirst %}
<a href="?sort_by=borrower__username&order=desc" class="fa fa-sort-desc"></a>
            </th>
            <th>
                <a href="?sort_by=beginning_date&order=asc" class="fa fa-sort-asc"></a> 
                {% trans "dates"|capfirst %}
                <a href="?sort_by=beginning_date&order=desc" class="fa fa-sort-desc"></a>
            </th>
            <th>
                <a href="?sort_by=end_date&order=asc" class="fa fa-sort-asc"></a> 
                {% trans "dates"|capfirst %}
                <a href="?sort_by=end_date&order=desc" class="fa fa-sort-desc"></a>
            </th>
            {% if perms.sharing.lending_end %}
            <th></th>
            {% endif %}
            {% if perms.sharing.lending_edit or perms.sharing.lending_delete %}
            <th></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for lending in object_list %}
        <tr>
        <td>{{ lending.book }}</td>
        <td>{{ lending.borrower }}</td>
        <td>{{ lending.beginning_date|naturaltime|default:"?" }}
        </td>
        <td>{{ lending.end_date|naturaltime|default:"?" }}</td>
        {% if perms.sharing.lending_end %}
            <td><a class="pure-button pure-button-primary" href="{% url "lending_end" lending.id %}">{% trans "give back"|capfirst %}</a></td>
        {% endif %}
        {% if perms.sharing.lending_edit or perms.sharing.lending_delete %}
        <td>
            {% if perms.sharing.lending_edit %}
            <a class="pure-button" href="{% url "lending_edit" lending.id %}">{% trans "edit"|capfirst %}</a>
            {% endif %}
            {% if perms.sharing.lending_delete %}
            <a class="pure-button" href="{% url "lending_delete" lending.id %}">{% trans "delete"|capfirst %}</a>
            {% endif %}
        </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "base/pagination.html" %}
{% if perms.sharing.lending_new %}
<p><a class="pure-button" href="{% url "lending_new" %}">{% trans "new"|capfirst %}</a></p>
{% endif %}
{% endblock %}