{% extends "layout.html" %}
{% block body %} 
<h1>{% trans "lendings" %}</h1>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>{% trans "book" %}</th>
            <th>{% trans "borrower" %}</th>
            <th>{% trans "dates" %}</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        {% for lending in object_list %}
        <tr>
        <td>{{ lending.book }}</td>
        <td>{{ lending.borrower }}</td>
        <td>{{ lending.beginning_date|default:"?" }} - {{ lending.end_date|default:"?" }}</td>
        <td><a class="pure-button pure-button-primary" href="{% url "lending_end" lending.id %}">{% trans "give back" %}</a></td>
        <td><a class="pure-button" href="{% url "lending_edit" lending.id %}">{% trans "edit" %}</a></td>
        <td><a class="pure-button" href="{% url "lending_delete" lending.id %}">{% trans "delete" %}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a class="pure-button" href="{% url "lending_new" %}">{% trans "new" %}</a></p>
{% endblock %}