a.fa {
    text-decoration: none;
    color:inherit;
}


.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

img.cover {
    display: block;
    max-height:150px;
    max-width:250px;
    width: auto;
    height: auto;
    margin:auto;
}

p.cover {
    height: 150px;
}

div.book {
    text-align: center;
    float:left;
    width:250px;
    height: 350px;
    display: inline-block;
    margin: 15px 10px 0 10px;
}

div.book_collection {
    display: block;
    margin-top: 50px;
    width: 100%;
}

.right_buttons{
    float:right;
}

@media (max-width: 980px) {
    .right_buttons{
        display:none;
    }
}