a.fa {
    text-decoration: none;
    color:inherit;
}

a.black_link {
    color: black;
    text-decoration: none;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(140, 221, 47);
}

.pure-button-error {
    background: rgb(236, 96, 61);
}

.pure-button-warning {
    background: rgb(255, 170, 0);
}

.pure-button-secondary {
    background: rgb(81, 219, 221);
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

img.cover {
    display: block;
    max-height:150px;
    max-width:250px;
    width: auto;
    height: auto;
}

.book_collection .book img.cover {
    margin:auto;
}

.book_collection .book p.cover {
    height: 150px;
    margin-bottom: 25px;
}

.book_collection .book p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.book_collection .book a {
    text-decoration: none;
}

.book_collection .book a.pure-button {
    text-decoration: none;
}

.book_collection div.book {
    text-align: center;
    float:left;
    min-width:250px;
    height: 350px;
    display: inline-block;
    margin: 15px 10px 0 10px;
}

.pure-g div.book {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    float:none;
    height: auto;
}

div.book_collection {
    display: block;
    margin-top: 50px;
    width: 100%;
}

.right_buttons{
    float:right;
}

@media (max-width: 980px) {
    .right_buttons{
        display:none;
    }
}


div.book p.buttons {
    width:250px;
}

div.book p.buttons a.pure-button {
    display:inline-block;
    width:75px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 3px;
}

.pure-menu-item form input {
    margin-left:12px;
    width:60%;
}

.pure-menu-item form button {
    margin-left: 5px;
}

div .picture {
    display:block;
    float:right;
}

.required_symbol {
    color:red;
}

.discussion_message {
    border-top: solid 1px #CCC;
}

.border {
    border-top: solid 1px #CCC;
}

.discussion_message img.picture{
    float:none;
    max-height: 150px;
}

.font_smaller{
    font-size: 0.7em;
}

.rating_stars {
    width:25px;
}
#rating_global #before_rating_informations {
    width:180px;
    display:inline-block;
    float:left;
}

#rating_global #rating_information {
    height:37px;
    width:280px;
    margin-top:9px;
    margin-left:9px;
    vertical-align: middle;
    padding-top:3px;
    line-height: 37px;
    text-align: center;
    display:inline-block;

    background-color: #FFFF99;
    border: solid 2px #5132AF;
    color: #5132AF;
}

@media (max-width: 1050px) {
    #rating_global #rating_information {
        margin-top: -15px;
        margin-left:0px;
    }
}

#menu {
    background: #ffdd32;
    border-right: 4px solid #fff;
    color: black;
}

#menu .pure-menu-heading {
    background-color: #fff;
    color: black;
}

#menu .pure-menu-item a.pure-menu-link {
    color:black;
}

#menu .pure-menu-item:hover, #menu .pure-menu .pure-menu-item .pure-menu-link:hover {
    background: #FF7E07;
    color:white;
}

.header h2 {
    color: #FF4900;
}

.header {
    padding: 1.5em 2em 10px;
    border-bottom: 0px solid #FFF36A;
}

.header h1 {
    color: #FF4900;
    font-family: "Gabriola", "Georgia", "Times New Roman", Serif;
    font-size: 4.5em;
    line-height: 0.9em;
}

body {
    color:black;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdd32+0,ffdd32+23,fff070+63,ffefc6+100 */
    background: #ffdd32; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffdd32 0%, #ffdd32 23%, #fff070 63%, #ffefc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffdd32), color-stop(23%,#ffdd32), color-stop(63%,#fff070), color-stop(100%,#ffefc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffdd32 0%,#ffdd32 23%,#fff070 63%,#ffefc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffdd32 0%,#ffdd32 23%,#fff070 63%,#ffefc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffdd32 0%,#ffdd32 23%,#fff070 63%,#ffefc6 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffdd32 0%,#ffdd32 23%,#fff070 63%,#ffefc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd32', endColorstr='#ffefc6',GradientType=1 ); /* IE6-9 */
}

body a {
    color: #5132AF;
}

body a:visited  {
    color: #FF4900;
}

#menu .pure-menu ul, #menu .pure-menu .menu-item-divided {
    border-top: 1px solid white;
}

.header {
    border-bottom: 1px solid #
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #846BFF;
}