<div class="rating_global">
    <p class="before_rating_informations">
        <a class="rates" id="rate_0_{{book.id}}">
            <img id="rate_star_0_{{book.id}}" class="rating_stars" src="{% static 'img/star_remove.png' %}" />
        </a>
        {% comment %}Makes a "range" loop{% endcomment %}
        {% for i in "12345" %}
            <a class="rates" id="rate_{{i}}_{{book.id}}">
                {% comment %}We use forloop counter here because i is a string and not an integer, thus can not be compared with rating_user{% endcomment %}
                {% if rating_user and forloop.counter <= rating_user %}
                    <img id="rate_star_{{i}}_{{book.id}}" class="rating_stars" src="{% static 'img/star_full.png' %}" />
                {% else %}
                    <img id="rate_star_{{i}}_{{book.id}}" class="rating_stars" src="{% static 'img/star_empty.png' %}" />
                {% endif %}
            </a>
        {% endfor %}
    </p>
    <div class="rating_information" id="rating_information_{{book.id}}"></div>
    <p>
        {% if rating_average %}
        {% blocktrans with rating_average=rating_average %}Average: {{rating_average}}/5{% endblocktrans %}
        {% endif %}
    </p>
</div>
<script type="text/javascript">
    current_value[{{book.id}}] = {% if rating_user %}{{rating_user}}{% else %}0{% endif %};
    $('#rating_information_{{book.id}}').text(rating_informations[current_value[{{book.id}}]]);
</script>